.benefit{
  display: flex;
  align-items: flex-start;
  font-size: 18px;
}
@media (max-width: 1023px){
  .benefit{
    align-items: center;
    flex-direction: column;
    font-size: 14px;
  }
}
@media (max-width: 1023px){
  .benefit__info{
    margin-bottom: 40px;
  }
}
.benefit__info:first-child{
  margin-right: 100px;
}
@media (max-width: 1023px){
  .benefit__info:first-child{
    margin-right: 0; 
  }
}
.benefit__info:last-child{
  margin-left: 100px;
}
@media (max-width: 1023px){
  .benefit__info:last-child{
    margin-left: 0;
  }
}
@media(max-width: 1023px){
  .benefit__wrap{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    
  }
}
@media (max-width: 1023px){
  .benefit__wrapper{
    text-align: center;
  }
}
@media (max-width: 1023px){
  .benefit__inline{
    display: flex;
  }
}
.benefit__icon{
  margin-bottom: 50px;
}
@media (max-width: 1023px){
  .benefit__icon{
    margin-bottom: 0;
    margin-right: 10px;
  }
}
.benefit__title{
  color: #323e41;
  font-size: 30px;
  font-weight: 300;
}
@media (max-width: 1023px){
  .benefit__title{ 
    font-size: 20px;
    margin-right: 10px;
  }
}
.benefit__text{
  color: #787c7d;
  line-height: 30px;
  margin-top: 30px;
}
.benefit__link{
  display: inline-block;
  font-weight: 800;
  margin-top: 30px;
  transition: 0.4s;
}
@media (max-width: 639px){
  .benefit__link{
    font-size: 14px;
  }
}
.benefit__link:hover{
  opacity: 0.8;
}
.benefit__link::after{
  content: '>';
  margin-left: 15px;
}
@media (max-width: 1023px){
  .benefit__preview{
    max-width: 280px;
    width: 100%;
    height: auto;
  }
}