.button{
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 65px;
  padding: 14px 0;
  background-color: white;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  color: white;
}
.button--red{
  background-image: linear-gradient(to top, #dc3929 0%, #f15444 100%);
}
.button--blue{
  background-image: linear-gradient(to top, #0f92cf 0%, #13acf3 100%);
}
.button__price{
  text-shadow: 0 0 1px #de3a2c;
}
.button__column{
    padding: 10px 15px;
}
.button__column:not(:last-child){
  border-right: 1px solid rgba(0, 0, 0, .2);
}
.button__buy{
  text-shadow: 0 0 1px #de3a2c;
}