.container{
  display: flex;
  justify-content: center;
  margin-top: 60px;
}
@media (max-width: 1023px){
  .container{
    flex-wrap: wrap-reverse;
  }
}
.container__item--one{
  margin: 30px 0 10px 20px;
}
@media (max-width: 1023px){
  .container__item--one{
    margin-bottom: 20px;
  }
}
.container__item--two{
  text-align: right;
  margin: 130px 20px 10px 0;
}
@media (max-width: 1023px){
  .container__item--two{
    margin-top: 20px;
  }
}
@media (max-width: 639px){
  .container__item{
    margin: 0;
  }
}
.container__icon{
  display: flex;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 5px;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.6);
  color: white;
  font-weight: 900;
  margin-bottom: 20px;
}
.container__icon--one{
  background-image: linear-gradient(to top, #20afea 0%, #36ccf9 100%);
}
.container__icon--two{
  margin-left: auto; 
  background-image: linear-gradient(to top, #fa8b2a 0%, #fcbf34 100%);
}
.container__title{
  border-top: 1px solid #e8e8e9;
  color: #323e41;
  font-size: 18px;
  font-weight: 500;
  padding: 15px 0 10px 0;
}
.container__text-one{
  width: 225px;
  color: #777b7c;
  font-weight: 500;
  line-height: 22px;
}
@media (max-width: 1023px){
  .container__text-one{
    font-size: 14px;
  }
}
.container__text-two{
  width: 230px;
  color: #777b7c;
  font-weight: 500;
  line-height: 22px;
}
@media (max-width: 1023px){
  .container__text-two{
    font-size: 14px;
  }
}
@media (max-width: 639px){
  .container__preview{
    margin: 20px 0;
  }
}