.copyright{
  background-color: black;
  color: #3b3d48;
  font-size: 14px;
}
.copyright__content{
  min-height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.copyright__email{
  color: white;
}
.copyright__left{
  display: flex
}
.copyright__icon{
  margin-left: 20px;
}
.copyright__img{
  margin-right: 15px;
}
