.features{
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
@media (max-width: 1023px){
  .features{
    flex-wrap: wrap;
  }
}
.features__col{
  width: 26%;
}
@media (max-width: 1023px){
  .features__col{
    width: 100%;
  }
  .features__col:not(:last-child){
   margin-bottom: 30px; 
  }
}
.features__title{
  margin-top: 30px;
  color: #323e41;
  font-size: 18px;
  font-weight: 500;
}
.features__item{
  margin-top: 20px;
}
.feature__item--subtext{
  display: inline-block;
  margin-top: 20px;
  line-height: 32px;
  transition: 0.4s;
}
.feature__item--subtext:hover{
  opacity: 0.8;
}
.features--centred{
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  text-align: center;
  color: #777b7c;
  font-weight: 500;
  margin-top: 70px;
}
@media (max-width: 1023px){
  .features--centred{
    flex-direction: column;
  }
}
.features--centred-col{
  width: 30%;
}
@media (max-width: 1023px){
  .features--centred-col{
    width: 100%;
  }
  .features--centred-col:not(:last-child){
    margin-bottom: 30px;
  }
}