.section__footer{
  margin-top: 65px;
  padding-top: 60px;
  border-top: 1px solid rgba(0, 100, 100, 0.1);
  text-align: left;
}
.features{
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.features__col{
  width: 26%;
}
.features__title{
  margin-top: 30px;
  color: #323e41;
  font-size: 18px;
  font-weight: 500;
}
.features__item{
  margin-top: 20px;
  color: #777b7c;
  line-height: 22px;
  font-size: 16px;
  font-weight: 500;
}
.feature__item--subtext{
  margin-top: 20px;
  color: #00a2ed;
  line-height: 32px;
}