.footer__content{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1023px){
  .footer__content{
    flex-wrap: wrap;
  }
}
.footer__icon-logo{
  margin-bottom: 25px; 
}
.footer__left{
  margin-right: 160px;
}
.footer__container{
  display: flex;
}
.footer__jamming{
  width: 150px;
  opacity: 0.5;
  color: white;
  font-size: 14px;
  font-weight: 300;
}
.footer__music{
  width: 150px;
  opacity: 0.7;
  color: white;
  font-size: 14px;
  font-weight: 400;
  margin-left: -10px;
}
.footer__menu{
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 1023px){
  .footer__menu{
    margin-top: 30px;
    flex-direction: column;
  }
}
.footer__col{
  display: flex;
  border-top: 1px solid #474747;
  flex-direction: column;
  width: 150px;
  font-weight: 300;
  margin-right: 50px;
}
@media (max-width: 1023px){
  .footer__col:not(:last-child){
    margin-bottom: 30px;
  }
}
@media (max-width: 1023px){
  .footer__col{
    width: 100%;
    margin-top: 30px;
  }
}
@media (max-width: 639px){
  .footer__col{
    width: 100%;
    margin-top: 30px;
  }
}
.footer__title{
  color: white;
  font-size: 22px;
  line-height: 20px;
  margin: 20px 0 10px;
}
@media (max-width: 1023px){
  .footer__title{
    font-size: 28px;
  }
}
.footer__link{
  color: #95959a;
  font-size: 14px;
  line-height: 25px;
  transition: 0.4;
}
@media (max-width: 1023px){
  .footer__link{
    font-size: 22px;
    margin-top: 10px;
    width: 220px;
  }
}
.footer__link:hover{
  opacity: 0.8;
}