.header{
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.header__content{
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__link{
  margin-left: 20px;
  color: #a0a0a0;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.8s;
}
.header__link:hover{
  opacity: 0.4;
}
