.language{ 
  display: flex;
  align-items: flex-start;
}
@media (max-width: 1023px){
  .language{
    flex-direction: column-reverse;
  }
}
.language__info{
  margin: 105px 0 0 85px;
}
@media (max-width: 1023px){
  .language__info{
    margin: 0;
  }
}
.language__icon{
  margin-bottom: 55px;
}
.language__title{
  margin-bottom: 25px;
  color: #323e41;
  font-size: 30px;
  font-weight: 300;
  width: 550px;
}
@media (max-width: 1023px){
  .language__title{
    width: 100%;
  }
}
.language__text{
  width: 550px;
  color: #777b7c;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
@media (max-width: 1023px){
  .language__text{
    width: 100%;
  }
}
.language__preview{
  margin-top: 80px;
}
.section__footer{
  margin-top: 65px;
  padding-top: 60px;
  border-top: 1px solid rgba(0, 100, 100, 0.1);
  display: flex;
}
@media (max-width: 1023px){
  .language__preview{
    transform: translate(6.5%,0)
  }
}