.outro__hat{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 1023px){
  .outro__hat-icon{
    margin-bottom: 20px;
  }
}
@media (max-width: 639px){
  .outro__hat{
    flex-direction: column;
    justify-content: flex-start;
  }
}
@media (max-width: 639px){
  .outro__hat-icon:not(:first-child){
    margin-top: 20px;
    
  }
}
@media (max-width: 1023px){
  .section__title{
    flex-direction: column;
    margin-top: 30px;
    align-items: center;
    text-align: center;
  }
}
.outro__title{
  color: #333;
  font-size: 30px;
  font-weight: 300;
}