.preview{
  display: flex;
  justify-content: center;
  margin-top: 60px;
}
@media (max-width: 1023px){
  .preview{
    flex-wrap: wrap;
  }
}
.preview__rectangle{
  position: relative;
  text-align: center;
  width: 250px;
  height: 380px;
  border: 2px solid #046df6;
  margin-right: 40px;
  padding: 21.5px;
  line-height: 50px;
}
@media (max-width: 1023px){
  .preview__rectangle{
    margin-bottom: 40px;
  }
}
.preview__text-icon{
  position: absolute;
  top: -1px;
  right: 100%;
  width: 20px;
  height: 20px;
  padding: 3px;
  background-color: #046df6;
  display: flex;
  justify-content: center;
}