.section--separated{
  padding: 75px;
}
.section--light{
  background-color: #f3f7f9;
}
.section__content{
  max-width: 980px;
  padding: 0 20px;
  margin: 0 auto;
}
.section_manually{
  max-width: 980px;
  margin: 0 auto;
}

.section__footer{
  margin-top: 65px;
  padding-top: 60px;
  border-top: 1px solid rgba(0, 100, 100, 0.1);
  display: flex;
}