.users{
  text-align: center;
}
.users__title{
  color: #323e41;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 40px;
}
.users__link{
  color: #00a2ed;
  font-size: 16px;
  font-weight: 900;
  line-height: 30px;
}
.users__subtitle{
  color: #323e41;
  font-size: 30px;
  font-weight: 300;
  margin: 50px auto;
}
.users__button{
  display: flex;
  justify-content: center;
}